@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body{
    background-color: rgb(236, 236, 236);
    font-family: 'Abel', sans-serif;
}
button{
    margin-top: 10px;
}
img{
    margin-top: 20px;
    width: 50px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}